# Visual Studio privremeni fajlovi
.vs/
*.suo
*.user
*.VC.db
*.pdb
*.obj
*.ilk
*.log
*.sln
*.vcxproj
*.vcxproj.filters

# Build direktoriji
x64/
Debug/
Release/

# Windows specifični
Thumbs.db
*.exe
*.dll
